:root {
    --main-black: #483D3F;
    --main-red:#058ED9;
    --main-pink:#F4EBD9;
    --main-blue:#A39A92;
    --main-green:#77685D;

}

* {
    margin:0;
    padding:0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Inter', sans-serif;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
display: grid;
grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
gap: 10px;
background-color: #483D3F;
padding: 10px;
outline: auto;
margin-top: auto;
}

.grid-container > div {
    background-color: #483D3F;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    outline: auto;
  }

h1 h2 {
    
    font-weight: 700;
    text-align: center;

}
h1 {
    font-size: 6rem;
    text-align: center;
    color: #22333B;
}
ul {
    background-color: #483D3F;
    list-style: none;
    text-align: center;
 }
a {
    text-decoration: none;
    color: #EAE0D5;
    
}
p {
    display: block;
    color: #22333B;
    margin-top: 50px;
}

/* nav section*/
.nav {
    display:flex;
    justify-content: flex-end;
    position: fixed;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    background: #333333;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
    
}

.nav-list {
    display: flex;
    
}

.nav-list a {
    display: block;
    padding: 2rem;
    color: #666A86;
    transition: 0.5s ease-in;
    background-color: transparent;
    font-size: 1.5rem;
}

.nav-list a:hover{
    color: #95B8D1;
    transition: 0.5s ease-in-out;
    
}

/* welcome section*/
.welcome-section {
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    /* background: linear-gradient(45deg, #B2746E 10%, #462255 50%); */
    background: linear-gradient(45deg, #22333B 0%, #EAE0D5 90%);
    text-align: center;
    flex-direction: column;
}

.welcome-section p {
    margin-top:30px;
    font-size: 2rem;
    font-style: oblique;
}